h1 {
    color: red;
}

h1:hover {
    color: green;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 500ms;
}
img:hover {
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: 500ms;
}