<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; HaiZuka 2022</div>
            <div>
                <a href="#">Linh</a>
                &middot;
                <a href="#">Zukon</a>
            </div>
        </div>
    </div>
</footer>