<html lang="en-US">
<head>
    <title>Weather</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Role - Admin</title>

    <h1>Get Weather Conditions From Anywhere!</h1>
    <label for="location">Enter a location:</label>
    <input id="location" type="text">
    <button class="btn-success" id="weatherLocation">Get Current Temperature and Humidity</button>
    <div class="showErrors"></div>
    <div class="showHumidity"></div>
    <div class="showTemp"></div>
</div>

<script>
    $(document).ready(function() {
            const city = $('#location').val();
            $('#location').val("");

            let request = new XMLHttpRequest();
            const url = `http://localhost:2712/api`;

            request.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    const response = JSON.parse(this.responseText);
                    getElements(response.message);
                }
            };

            request.open("GET", url, true);
            request.send();

            function getElements(response) {
                console.log(response);
            }
    });
</script>
</body>
</html>