<html lang="en-US">
<head>
    <title>Test API</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div id="data">
        Hello
    </div>
</div>

<script>
    $(document).ready(function() {
            const city = $('#location').val();
            $('#location').val("");

            let request = new XMLHttpRequest();
            const url = `http://localhost:2712/api`;

            request.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    const response = JSON.parse(this.responseText);
                    getElements(response);
                }
            };

            request.open("GET", url, true);
            request.send();

            function getElements(response) {
                let data = response.data;
                let html = "";
                for (let x in data[0]) {
                    html = html + "" + data[0][x] + "";
                }
                console.log(html);
                html = html + "@";
                console.log(html);
                document.getElementById("data").innerHTML = html;
                console.log(data);
            }
    });
</script>
</body>
</html>